@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

.landing-container {
    height: 100vh;
    background: linear-gradient(180deg, #010311 0%, #000000 21%);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    color: white;
    overflow-y: hidden;
    font-family: inter;
}

.landing-left {
    max-width: 480px;
    z-index: 1;
    margin-left: 5%;
    margin-top: 5%;
    height: 100%;
}

.landing-welcome {
    font-size: 1.5vw;
    font-weight: bold;
    color: #aaa;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.landing-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 20px;
    color: white;
}

.landing-subtitle {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    line-height: 1.7;
    margin-bottom: 36px;
}

.landing-buttons {
    display: flex;
    gap: 16px;
}

.landing-btn-login {
    background-color: #262323;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    width: 100%;
}

.landing-btn-login:hover {
    transform: scale(1.02);
}

.landing-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    position: relative;
    padding: 10px 10px;
    height: 100vh;
}

.landing-btn-register {
    background-color: #262323;
    color: white;
    border: 1px solid #444;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
    font-weight: bold;
}

.landing-btn-register{
    background-color: #262323;
}
.landing-btn-register:hover {
    transform: scale(1.02);
}

.landing-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto 25px;
}